**/*.a
**/*.o
bld/
mbedtls/tests/test_suite_*

# more generated things
mbedtls/programs/aes/aescrypt2
mbedtls/programs/aes/crypt_and_hash
mbedtls/programs/hash/generic_sum
mbedtls/programs/hash/hello
mbedtls/programs/pkey/dh_client
mbedtls/programs/pkey/dh_genprime
mbedtls/programs/pkey/dh_server
mbedtls/programs/pkey/ecdh_curve25519
mbedtls/programs/pkey/ecdsa
mbedtls/programs/pkey/gen_key
mbedtls/programs/pkey/key_app
mbedtls/programs/pkey/key_app_writer
mbedtls/programs/pkey/mpi_demo
mbedtls/programs/pkey/pk_decrypt
mbedtls/programs/pkey/pk_encrypt
mbedtls/programs/pkey/pk_sign
mbedtls/programs/pkey/pk_verify
mbedtls/programs/pkey/rsa_decrypt
mbedtls/programs/pkey/rsa_encrypt
mbedtls/programs/pkey/rsa_genkey
mbedtls/programs/pkey/rsa_sign
mbedtls/programs/pkey/rsa_sign_pss
mbedtls/programs/pkey/rsa_verify
mbedtls/programs/pkey/rsa_verify_pss
mbedtls/programs/random/gen_entropy
mbedtls/programs/random/gen_random_ctr_drbg
mbedtls/programs/random/gen_random_havege
mbedtls/programs/ssl/dtls_client
mbedtls/programs/ssl/dtls_server
mbedtls/programs/ssl/mini_client
mbedtls/programs/ssl/ssl_client1
mbedtls/programs/ssl/ssl_client2
mbedtls/programs/ssl/ssl_fork_server
mbedtls/programs/ssl/ssl_mail_client
mbedtls/programs/ssl/ssl_server
mbedtls/programs/ssl/ssl_server2
mbedtls/programs/test/benchmark
mbedtls/programs/test/selftest
mbedtls/programs/test/ssl_cert_test
mbedtls/programs/test/udp_proxy
mbedtls/programs/util/pem2der
mbedtls/programs/util/strerror
mbedtls/programs/x509/cert_app
mbedtls/programs/x509/cert_req
mbedtls/programs/x509/cert_write
mbedtls/programs/x509/crl_app
mbedtls/programs/x509/req_app
